In [1]:
%sql
-- drop table if exists silver.CompanyModules

In [2]:
command = """create table if not exists silver.CompanyModules (
  CompanyId integer,
  InstanceId smallint,
  CompanyModuleId long,
  ModuleId integer,
  ModuleType integer,
  ActiveVersion integer,
  IsUserDefined boolean,
  Position integer,
  Name string,
  Description string,
  ModifiedUtc timestamp,
  CreatedUtc timestamp,
  Deleted boolean,
  DefaultCulture string,
  EmailSettings string,
  ApiModuleId string,
  RowVersion binary,
  IsTransferable boolean,
  SilverModifiedUtc timestamp 
)
USING DELTA
LOCATION 'wasbs://silver@"""+lakeName+""".blob.core.windows.net/cab/company_modules'"""
# print(command)

spark.sql(command)

In [3]:
# df = spark.sql("select * from CompanyModules limit 0"); #read silver table structure, this needed just to read table structure.
# print(df.columns)

In [4]:
%sql
--alter table CompanyModules add columns ( data3 string )

In [5]:
%sql
--describe CompanyModules