In [1]:
configs = { 
"fs.azure.account.auth.type": "CustomAccessToken",
"fs.azure.account.custom.token.provider.class": spark.conf.get("spark.databricks.passthrough.adls.gen2.tokenProviderClassName")
}

In [2]:
filesystems = ['bronze', 'silver', 'gold']
lakeName = 'prodanalytics1'
subDirectory = ''

In [3]:
def Diff(li1, li2): 
  return (list(set(li1) - set(li2)))

def makefilter(mntName):
  def iterator(x):
    return x.mountPoint == '/mnt/%s' % (mntName) 
  return iterator

def getMountedZones():
  mounted = []
  for mnt in filesystems:
    result = list(filter(makefilter(mnt), dbutils.fs.mounts()))
    if (len(result) == 1):
      mounted.append(mnt)
  #print(mounted)
  return mounted  

def mount(filesystem):
  dbutils.fs.mount(
    source = "abfss://%s@%s.dfs.core.windows.net/%s" % (filesystem, lakeName, subDirectory),
    mount_point = "/mnt/Test_%s" %(filesystem),
    extra_configs = configs
  )
  print('Mounted /mnt/%s' % (filesystem))

#Diff(filesystems, getMountedZones())

In [4]:
def MountFileSystem ( lakeName, fileSystem ) :
  mountPoint = "/mnt/%s" % (fileSystem)

  if mountPoint in [o.mountPoint for o in dbutils.fs.mounts()] :
    print('unmount ' + fileSystem)
    dbutils.fs.unmount(mountPoint)

  dbutils.fs.mount(
    source = "abfss://%s@%s.dfs.core.windows.net/" % (fileSystem, lakeName),
    mount_point = mountPoint,
    extra_configs = configs
  )
  print('mounting is finished')


MountFileSystem ( 
  lakeName = 'prodanalytics1',
  fileSystem = 'bronze'
)
#mount("bronze")

In [5]:
attTrips = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/att/trips_client")
encoreTrips = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/encore/trips_client")
indiaTrips = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/vfindia/trips_client")
maxisTrips = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/maxis/trips_client")
ukTrips = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/vfuk/trips_client")

attTrips.registerTempTable("attTrips")
encoreTrips.registerTempTable("encoreTrips")
indiaTrips.registerTempTable("indiaTrips")
maxisTrips.registerTempTable("maxisTrips")
ukTrips.registerTempTable("ukTrips")

In [6]:
%sql

with cteData
as (
            select 'att' as Instance, StartCountryCode, count(*) as cnt from attTrips group by StartCountryCode
  union all select 'encore' as Instance,StartCountryCode, count(*) from encoreTrips group by StartCountryCode
  union all select 'india' as Instance,StartCountryCode, count(*) from indiaTrips group by StartCountryCode
  union all select 'maxis' as Instance,StartCountryCode, count(*) from maxisTrips group by StartCountryCode
  union all select 'uk' as Instance,StartCountryCode, count(*) from ukTrips group by StartCountryCode
)
select StartCountryCode, sum(cnt)
from cteData
where StartCountryCode != 'US'
group by StartCountryCode;

StartCountryCode,sum(cnt)
UA,10
NL,12
BS,62
PL,2
MX,23123
AT,1
RU,51
AU,14061
CA,1074670
GB,15973
DE,217
ES,407
ZA,44
MY,1097483
IN,3318043
FR,147
CH,25
GR,2
IT,89
SE,7
NZ,56
IE,18
BE,6
NO,4
DK,25

In [7]:
%sql

with cteData
as (
            select 'att' as Instance, StartCountryCode, count(*) as cnt from attTrips group by StartCountryCode
  union all select 'encore' as Instance,StartCountryCode, count(*) from encoreTrips group by StartCountryCode
  union all select 'india' as Instance,StartCountryCode, count(*) from indiaTrips group by StartCountryCode
  union all select 'maxis' as Instance,StartCountryCode, count(*) from maxisTrips group by StartCountryCode
  union all select 'uk' as Instance,StartCountryCode, count(*) from ukTrips group by StartCountryCode
)
select Instance, StartCountryCode, sum(cnt)
from cteData
group by Instance, StartCountryCode;

Instance,StartCountryCode,sum(cnt)
att,MY,3
encore,GB,11624
uk,DE,29
india,ES,10
att,IT,64
encore,IE,16
att,GB,3319
encore,ZA,2
maxis,MX,24
att,RU,8
encore,ES,284
india,GB,1016
uk,GB,14
india,null,6573
att,ZA,26
encore,DK,15
att,NO,4
att,CA,3158
india,CA,8
att,UA,10
india,RU,23
uk,null,103
india,ZA,15
encore,null,13884
encore,IT,22
maxis,US,4504
att,IN,72
att,US,157600311
att,null,1459729
india,IN,3317927
india,IT,3
maxis,IN,5
maxis,ZA,1
encore,CA,1071490
india,US,9493
att,NL,12
india,AU,90
encore,US,10461531
uk,US,555
att,BE,6
att,FR,82
encore,AU,13600
att,AT,1
att,DK,10
att,DE,175
att,ES,113
india,PL,2
encore,MX,5182
att,MX,17885
maxis,null,5786
encore,RU,20
maxis,CA,14
encore,FR,63
att,BS,62
att,CH,25
india,DE,13
att,GR,2
att,SE,5
maxis,MY,1093653
india,MX,32
encore,IN,39
att,AU,371
att,NZ,56
uk,IE,2
india,SE,2
encore,MY,3818
india,MY,9
india,FR,2

In [8]:
attForms = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/att/form_headers_client")
encoreForms = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/encore/form_headers_client")
indiaForms = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/vfindia/form_headers_client")
maxisForms = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/maxis/form_headers_client")
ukForms = spark.read.format('parquet').load("/mnt/Test_bronze/cab/operational/vfuk/form_headers_client")

attForms.registerTempTable("attForms")
encoreForms.registerTempTable("encoreForms")
indiaForms.registerTempTable("indiaForms")
maxisForms.registerTempTable("maxisForms")
ukForms.registerTempTable("ukForms")

In [9]:
%sql

with cteData
as (
            select 'att' as Instance, StartCountryCode, count(*) as cnt from attForms group by StartCountryCode
  union all select 'encore' as Instance,StartCountryCode, count(*) from encoreForms group by StartCountryCode
  union all select 'india' as Instance,StartCountryCode, count(*) from indiaForms group by StartCountryCode
  union all select 'maxis' as Instance,StartCountryCode, count(*) from maxisForms group by StartCountryCode
  union all select 'uk' as Instance,StartCountryCode, count(*) from ukForms group by StartCountryCode
)
select Instance, StartCountryCode, sum(cnt) as FormsCount
from cteData
group by Instance, StartCountryCode;

Instance,StartCountryCode,FormsCount
att,MY,4
encore,GB,183
att,MD,1
att,GB,12
maxis,MX,6
india,GB,12
maxis,GB,1
uk,GB,3
india,null,507463
att,ZA,1
att,CA,148
india,CA,2
uk,null,96
india,ZA,5
encore,null,266454
maxis,US,354
att,US,19771700
att,null,2408783
india,IN,1080391
maxis,IN,14
maxis,ZA,3
encore,CA,10558
india,US,4606
india,AU,3
encore,US,1010494
uk,US,6
encore,AU,196
encore,MX,81
att,MX,301
maxis,null,77394
india,DE,1
maxis,MY,394945
india,MX,44
encore,IN,3
att,AU,24
encore,MY,95
india,MY,93